<footer>
  <div class="containerSection">
    <div class="socialMedia">
      <a href="">
        <img src="assets/images/svg/facebook.svg" alt="">
      </a>
      <a href="">
        <img src="assets/images/svg/twiter.svg" alt="">
      </a>
      <a href="">
        <img src="assets/images/svg/instagram.svg" alt="">
      </a>
      <a href="">
        <img src="assets/images/svg/pinterest.svg" alt="">
      </a>
      <a href="">
        <img src="assets/images/svg/youtube.svg" alt="">
      </a>
    </div>

    <div class="navFooter">
      <a href="">About</a>
      <a href="">Host</a>
      <a href="">Support</a>
    </div>
  </div>
</footer>