p{
    margin-bottom: 0 !important;
}

.custom-gap-header{
    column-gap: 30px;
}

.container-firstHeader{
    width: 100vw;
    height: 60px;
    margin: auto;
    padding: 15px 5%;
    border-bottom: 1px solid #E5E8EB;
}

.icon-homefly{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #1C1C21;
    line-height: 23px;
}

.search{
    background-color: #EDF0F2;
    border-radius: 12px;
    width: 166px;
    height: 40px;
    padding: 0 10px;
}

.input-search{
    border: 0;
    background-color: transparent;
    outline: none;
    width: 100px;
}


.world-img{
    padding: 10px;
    background-color: #EDF0F2;
    border-radius: 12px;
}

.profileIcon{
    border-radius: 50%;
}

.container-secondHeader{
    padding: 30px;
    column-gap: 5%;
    width: 100%;
}

.selected{
    background: linear-gradient(to right, #8a72f9, #6246EA);
    -webkit-background-clip: text; /* Recorta el fondo al texto */
    color: transparent;
    font-size: 18px;
    font-weight:400;

    p{
        border-bottom: 4px solid #6246EA;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
    }

    img{
        fill: red;
        stroke: red;
    }

}

.no-selected{
    color: #7D7F88;
    font-size: 18px;
    font-weight:400;
    outline: none;
    text-decoration: none;
}

.no-phone{
    display: flex;
}

.no-desktop{
    display: none;
}

.hidden{
    display: none;
}

@media (max-width: 840px) {
    .container-secondHeader{
        column-gap: 10%;
    }
}

@media (max-width: 480px) {
    .no-phone{
        display: none !important;
    }

    .no-desktop{
        display: flex !important;

        img{
            cursor: pointer;
        }
    }

    .container-secondHeader{
        justify-content: space-around !important;
        column-gap: 5px !important;
    }


    /* Estilo del menu hamburguesa */

    .hamburger-menu{
        position: absolute;
        left: 0;
        top: 60px;
        width: 100vw;
        background-color:#FFFFFF;
        padding: 5%;
        -webkit-box-shadow: 0 4px 9.9px 0 rgba(0, 0, 0, 0.15) !important;
        -moz-box-shadow: 0 4px 9.9px 0 rgba(0, 0, 0, 0.15) !important;
        box-shadow: 0 4px 9.9px 0 rgba(0, 0, 0, 0.15) !important;
    }

    .searcher-mobile{
        width: 100%;
        background-color: #EDF0F2;
        border-radius: 12px;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        column-gap: 15px;
        margin-bottom: 5%;
    }

    .input-search{
        width: 100%;
    }

    .profile img{
        margin-right:15px;
    }
}