/* You can add global styles to this file, and also import other style files */
body{
    background-color: #FAFAFA !important;
}

.containerSection{
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

p{
    margin-bottom: 0 !important;
}


@media (max-width: 700px) {
    .containerSection{
        width: 90%;
    }

}